<div class="col-sm-4 col-sm-offset-4">
	<div *ngIf="!signUp">
		<h2>Blog Application</h2>
		<h4>Log in</h4>
		<form (ngSubmit)=" login( username, password ) " *ngIf="! authService.isAuthenticated()">
			<input [(ngModel)]=" username " type="text" name="username" required placeholder="Username">
			<input [(ngModel)]=" password " type="password" name="password" required placeholder="Password">
			<button type="submit">Login</button>
		</form>
		<button *ngIf="! authService.isAuthenticated() " (click)=" toggleSignUp() " >Not a user? Create an account.</button>
		<button *ngIf=" authService.isAuthenticated() " (click)=" logout() ">Logout</button>
	</div>

	<div *ngIf=" signUp ">
		<h2>Blog Application</h2>
		<h4>Sign up</h4>
		<form (ngSubmit)=" signup( name, username, password, contributor ) " *ngIf="! authService.isAuthenticated()">
			<input [(ngModel)]=" name " type="text" name="name" required placeholder="Name">
			<input [(ngModel)]=" username " type="text" name="username" required placeholder="Username">
			<input [(ngModel)]=" password " type="password" name="password" required placeholder="Password">
			<input [(ngModel)]=" contributor " type="checkbox" name="contributor" value=true > I am a contributor to this blog.
			<button type="submit">Signup</button>
		</form>
		<button (click)=" toggleSignUp() ">Cancel</button>
	</div>

</div>

